GEMINI_API_KEY="tu_clave_de_gemini_aqui"
# Horarios bloque mañana
BUSINESS_MORNING_START="08:30"
BUSINESS_MORNING_END="12:30"
# Horarios bloque tarde
BUSINESS_AFTERNOON_START="14:00"
BUSINESS_AFTERNOON_END="18:00"
